@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Identity</h1>
    <p class="lead">O sistema ASP.NET Identidade é projetado para substituir os sistemas de adesão simples anterior ASP.NET Membership e. Ele inclui suporte perfil, integração OAuth, trabalha com Owin, e está incluída nos modelos ASP.NET fornecido com Visual Studio.</p>
    <p><a href="http://www.asp.net/identity" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Entendendo as coisas</h2>
        <p>
            Primeiro passo foi entender como o Identity funcionava, foi visto todas as configurações que ele tinha disponível. Toda a parte de configuração foi vista no Blog do Eduardo Pires.
        </p>
        <p><a class="btn btn-default" href="http://eduardopires.net.br/2014/08/asp-net-identity-tutorial-completo/">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Separando o identity</h2>
        <p>
            A ideia do modelo é usar o cadastro de Pessoa Física para criar o usuário no Identity, toda a camada do Identity foi desacoplada conforme o artigo do Eduardo Pires.
        </p>
        <p><a class="btn btn-default" href="http://eduardopires.net.br/2015/09/desacoplando-o-asp-net-identity-do-mvc-e-dominio/">Leia Mais &raquo;</a></p>
    </div>    
</div>